# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/



# =========================
# Machine Learning Models
# =========================
models/
checkpoints/
weights/

*.pt
*.pth
*.ckpt
*.onnx
*.pb
*.tflite
*.joblib
*.pkl
*.sav

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# TensorBoard
# =========================
runs/
tensorboard_logs/

# =========================
# Cache Files
# =========================
.cache/
.pytest_cache/
.mypy_cache/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Temporary Files
# =========================
tmp/
temp/
*.tmp